{% extends "base.html" %}
{% block style %}
{% endblock style %}
{% block title %}
HomePage
{% endblock title %}
{% block content %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../static/images/homepage/china-bans-smoking.jpg">
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>你还在吸烟吗？</h1>
                    <p>
                        吸烟一时爽，<br>
                        一直吸烟……
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="#feat_1" role="button" target="view_window">了解一下</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../static/images/homepage/smoking_man.jpg">
            <div class="container">
                <div class="carousel-caption">
                    <h1>禁烟令</h1>
                    <p>《北京市公共场所禁止吸烟范围若干规定》</p>
                    <p><a class="btn btn-lg btn-primary" href="#feat_2" role="button" target="view_window">了解一下</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../static/images/homepage/man-smokes-2.jpg">
            <div class="container">
                <div class="carousel-caption text-right">
                    <h1>知道你在那抽烟哦</h1>
                    <p>​
                        我国吸烟人数众多，<br>
                        吸烟和二手烟暴露十分普遍。
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="#feat_3" role="button" target="view_window">了解一下</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<!-- Marketing messaging and featurettes
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                src="../../static/images/character/240px-Urban_VII.jpg" preserveAspectRatio="xMidYMid slice"
                focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777" />
            </img>
            <h2>乌尔巴诺七世</h2>
            <p>1590年，只管治了十三天的教宗乌尔巴诺七世展開了历史上第一次公开禁烟。他声称会把所有「在教堂的走廊里面，以咀嚼、用烟斗、用鼻吸入粉末形式吸烟」的人逐出教会。</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                src="../../static/images/character/250px-Ming_Chongzhen.jpg" preserveAspectRatio="xMidYMid slice"
                focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777" />
            </img>
            <h2>崇祯帝</h2>
            <p>1639年崇祯帝下令“吃烟者死”，规定凡种烟和吸烟者均处以死刑。这是中国最早的禁烟令。</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140"
                src="../../static/images/character/250px-Portrait_of_Lin_Zexu.jpeg" preserveAspectRatio="xMidYMid slice"
                focusable="false" role="img" aria-label="Placeholder: 140x140">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777" />
            </img>
            <h2>林则徐</h2>
            <p>
                倘波臣之夙戒无闻，恐水族之豫防莫及。本除害马，岂任殃鱼，比諸毒矢強弓，會須暫徙，庶使殲鱗凡介，勿損滋生。……尤赖明神昭示冥威，永祛妖物，驯彼犬羊之性，俾识撑梨；杜其蜂趸之萌，专输嫁布。
            </p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" id="feat_1">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">吸烟<br><span class="text-muted">不健康行为</span></h2>
            <p class="lead">
                据美国25个州的调查，吸烟开始年龄与肺癌死亡率呈负相关。若将不吸烟者肺癌死亡率为1.00时，15岁以下开始吸烟者其死亡率为19.68；20～24岁为10.08；25岁以上为4.08。说明吸烟开始年龄越早，肺癌发生率与死亡率越高。
            </p>
            <p><a class="btn btn-lg btn-primary" href="https://baike.baidu.com/item/%E5%90%B8%E7%83%9F/1423975"
                    role="button" target="view_window">了解一下</a></p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" src="../../static/images/show/lung-cancer.png" preserveAspectRatio="xMidYMid slice"
                focusable="false" role="img" aria-label="Placeholder: 500x500">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#eee" />
            </img>
        </div>
    </div>

    <hr class="featurette-divider" id="feat_2">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">禁烟令<br><span class="text-muted">公共场所禁止吸烟范围规定</span></h2>
            <p class="lead">
                2014年11月24日国务院法制办公布了卫生计生委起草的《公共场所控制吸烟条例（送审稿）》，并公开征求意见。这是我国首次拟制定行政法规在全国范围全面控烟。所有室内公共场所一律禁止吸烟。个人在禁止吸烟场所（区域）吸烟的，可处以50元以上500元以下的罚款
                。</p>
            <p><a class="btn btn-lg btn-primary"
                    href="http://www.beijing.gov.cn/zhengce/wenjian/192/33/50/438650/77440/index.html" role="button"
                    target="view_window">了解一下</a></p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" src="../../static/images/show/government-buildings.png"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#eee" />
            </img>
        </div>
    </div>

    <hr class="featurette-divider" id="feat_3">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">二手烟<br><span class="text-muted">非自愿吸取吸烟者烟雾行为</span></h2>
            <p class="lead">
                二手烟实际上由两种烟雾构成，一种是吸烟者呼出的烟雾，称为主流烟；一种是香烟燃烧时所产生的烟雾，称为侧流烟。不吸烟的人无论吸入哪种烟雾，都算二手烟。
            </p>
            <p><a class="btn btn-lg btn-primary"
                    href="https://baike.baidu.com/item/%E4%BA%8C%E6%89%8B%E7%83%9F/2993984?fr=aladdin" role="button"
                    target="view_window">了解一下</a></p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" src="../../static/images/show/smoke.png" preserveAspectRatio="xMidYMid slice"
                focusable="false" role="img" aria-label="Placeholder: 500x500">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#eee" />
            </img>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->
{% endblock content %}