<div id="demo" class="carousel slide" data-ride="carousel" style="margin-bottom:0rem;">

    <!-- 指示符 -->
    <ul class="carousel-indicators">
        {% for j in List %}
        {% if forloop.first %}
        <li data-target="#demo" data-slide-to="{{j}}" class="active"></li>
        {% else %}
        <li data-target="#demo" data-slide-to="{{j}}"></li>
        {% endif %}
        {% endfor %}
    </ul>

    <!-- 轮播图片 -->
    <div class="carousel-inner">
        {% load static %}
        {% for i in filePathList %}
        {% if forloop.first %}
        <div class="carousel-item active">
            <img src="../static/images/imageBox/{{i}}">
        </div>
        {% else %}
        <div class="carousel-item">
            <img src="../static/images/imageBox/{{i}}">
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <!-- 左右切换按钮 -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>