{% extends "base.html" %}
{% block title %}
map
{% endblock title %}
{% block style %}
<style>
    html,
    body,
    #container {
        height: 100%;
    }

    .info {
        width: 26rem;
    }
</style>
{% endblock style %}
{% block map_content %}
<div class="container" id="container">
    <div class="info fixed-right" style="position:absolute;z-index:999999; top:0;color:black; margin: 1rem;">
        <div class="">
            <h4 id='status'>
            </h4>
        </div>
        <div class="">
            <p id='result'></p>
        </div>
    </div>
</div>
<div style=" float:left">
    <p id="result"></p>
</div>
<script type="text/javascript"
    src="https://webapi.amap.com/maps?v=1.4.14&key=d152e6de5c8c6c2631f32e6accffedb5&plugin=AMap.CitySearch"></script>
<script type="text/javascript" src="../../static/JS/map.js"></script>
{% endblock map_content %}